In [9]:
#Importanbdo librerias de Python
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [10]:
pip install iteration utils

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: iteration in /home/alexandra/.local/lib/python3.10/site-packages (1.2.0)
Requirement already satisfied: utils in /home/alexandra/.local/lib/python3.10/site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
#lectura del archivo y vista de las 5 primeras filas
df=pd.read_csv("wine_reviews_dataset.csv", index_col="Unnamed: 0")
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [12]:
df_filas_duplicadas = df[df.duplicated()]
print(df_filas_duplicadas)

       country                                        description  \
2408        US  This is weighty, creamy and medium to full in ...
2409     Italy  There's a touch of toasted almond at the start...
2410     Chile  Lightly herbal strawberry and raspberry aromas...
2412     Italy  The Monica grape often shows a rustic or raw q...
2413    France  Fruity and lightly herbaceous, this has fine t...
...        ...                                                ...
129879      US  This wine is a blend of 45% Grenache, 37% Syra...
129880      US  Apple blossom intrigues on the nose of this li...
129881   Spain  This Verdejo smells like citrus fruits and wil...
129882      US  This wine is mostly Cabernet Sauvignon (78%), ...
129913      US  This is taut and dense, and requires time and ...

               designation  points  price           province  \
2408                   NaN      85   14.0         California
2409    Sallier de la Tour      85   13.0  Sicily & Sardinia
2410               Reserve      85   13.0       Maipo Valley
2412                 Dolia      85   14.0  Sicily & Sardinia
2413     La Fleur d'Amélie      85   15.0           Bordeaux
...                    ...     ...    ...                ...
129879               Metis      90   20.0         Washington
129880                 NaN      90   20.0         California
129881                 NaN      90   19.0     Northern Spain
129882             Reserve      90   60.0         Washington
129913   Artist Series #14      92   44.0         Washington

                    region_1         region_2        taster_name  \
2408             North Coast      North Coast     Virginie Boone
2409                 Sicilia              NaN                NaN
2410                     NaN              NaN  Michael Schachner
2412      Monica di Sardegna              NaN                NaN
2413          Bordeaux Blanc              NaN         Roger Voss
...                      ...              ...                ...
129879  Columbia Valley (WA)  Columbia Valley   Sean P. Sullivan
129880  Russian River Valley           Sonoma     Virginie Boone
129881                 Rueda              NaN  Michael Schachner
129882  Columbia Valley (WA)  Columbia Valley   Sean P. Sullivan
129913  Columbia Valley (WA)  Columbia Valley       Paul Gregutt

       taster_twitter_handle  \
2408                 @vboone
2409                     NaN
2410             @wineschach
2412                     NaN
2413              @vossroger
...                      ...
129879         @wawinereport
129880               @vboone
129881           @wineschach
129882         @wawinereport
129913           @paulgwine

                                                    title  \
2408              Souverain 2010 Chardonnay (North Coast)
2409    Tasca d'Almerita 2011 Sallier de la Tour Grill...
2410    Tres Palacios 2011 Reserve Pinot Noir (Maipo V...
2412    Cantine di Dolianova 2010 Dolia  (Monica di Sa...
2413    Château de Sours 2011 La Fleur d'Amélie  (Bord...
...                                                   ...
129879  Maison Bleue 2013 Metis Red (Columbia Valley (...
129880  Martin Ray 2015 Chardonnay (Russian River Valley)
129881                  Martinsancho 2015 Verdejo (Rueda)
129882   Matthews 2012 Reserve Red (Columbia Valley (WA))
129913  Woodward Canyon 2005 Artist Series #14 Caberne...

                           variety                winery
2408                    Chardonnay             Souverain
2409                        Grillo      Tasca d'Almerita
2410                    Pinot Noir         Tres Palacios
2412                        Monica  Cantine di Dolianova
2413    Bordeaux-style White Blend      Château de Sours
...                            ...                   ...
129879                   Red Blend          Maison Bleue
129880                  Chardonnay            Martin Ray
129881                     Verdejo          Martinsancho
129882    Bordeaux-style Red Blend              Matthews
129913          Cabernet Sauvignon       Woodward Canyon

[9983 rows x 13 columns]

In [17]:
df.drop_duplicated()

AttributeError: 'DataFrame' object has no attribute 'drop_duplicated'

In [15]:
# definiendo ruta
path_to_data="./wine_reviews_dataset.csv"

In [16]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

In [ ]:
#clasificando variables
categoricas=["Unnamed: 0","country", "description", "designation", "province", "region_1", "region_2", "taster_name", "taster_twitter_handle", "title", "variety", "winery"]
numericas=(["points", "price"])

In [ ]:
# creando nuev tabla df1: contiene country, points, price, variety, winery
df1 = df.drop (columns=["Unnamed: 0", "description", "province",  "designation", "taster_name", "taster_twitter_handle", "title"])
df1.head()

In [ ]:
# Cuantos missing values hay en el dataset por cada columna
df1.isnull().sum()

<p> Hay muchos datos NaN para precio, </p>

In [ ]:
# Principales descriptores estadisticos
df1.describe()

<p> Observamos que hay una gran SD en los precios de los vinos, siendo el más barato 4 y el más caro 3300. 
De manera contraria la SD de los puntos es menor, siendo el puntake minimo 80 y maximo 100.</p>

In [ ]:
# Evaluando correlación entre precio y puntos
sns.heatmap(df1.corr(), annot=True, cmap='Blues')

<p> R = 0.42 => baja correlación entre puntaje y precio </p>

In [ ]:
# Evaluando precios vs puntaje 
plt.figure(figsize=(15,6))
sns.scatterplot(data = df1, x= 'points', y ='price')

<p> Se observa que varios vinos más caros tienen más puntaje, pero también hay vinos baratos con muy buen puntaje.</p>

In [ ]:
# Evaluando precios por país
fig, ax = plt.subplots(ncols=1, figsize=(18,7))
sns.boxplot(y='price', x='country', data=df1, ax=ax)
plt.xticks(rotation=90)
plt.show()

<p> Los diagramas de caja están muy cerca uno del otro => difícil hacer una inferencia. 
Se observa que los vinos más caros provienen de paises como Francia (3300), US, Australia, Protugal, Italia, Españas </p>

In [ ]:
# Evaluando puntajes por país
plt.figure(figsize=(17,8))
sns.scatterplot(data = df1, y='points', x='country', color='black')
plt.grid(axis='x')
plt.xticks(rotation=90);

<p> Se observa que los vinos con puntaje de 100 provienen de Italia, Portugal, Francia y Australia, pero estos mismos paises tambien los puntajes más bajos.
También vemos que países como Inglaterra, Luxemburgo e India no tienen vinos con bajos puntajes </p>

In [ ]:
# Evaluando la distribución de los datos
df1.hist(color='k', alpha=0.5, bins=10)
plt.show()

<p> Distribución de puntaje => normal; mientras que distribución de precios está a la izquierda, mayoría tiene precios bajos </p>

In [ ]:
# Cambiando los precios de variable numérica a categórica
bins = [0,300,500,1000,2000,3300]
names = ["0-300","301-500","501-1000","1001-2000","2001-3300"]
df["price"] = pd.cut(df["price"], bins, labels = names)
df.iloc[:, [1,5]]

In [ ]:
# Visualizando los rangos de precios por paises
sns.displot(x="country" , y="price", data=df, height = 3, aspect = 5)
plt.grid(axis='x')
plt.xticks(rotation=90)
plt.show()

<p> Todos los paises tienen vinos en el rango de precio de 0-300, mientras que solo 12 paises tienen vinos que sobrepsan el limite de precio de 300 </p>

In [ ]:
# Analizando variedad por precio
sns.displot(x="variety" , y="price", data=df2, height = 3, aspect = 8)
plt.grid(axis='x')
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Analizando solo los vinos con precio mayor a 300
df3=df1 [df1["price"] > 300] 
df3.head()

In [ ]:
df3.describe()

In [ ]:
df3.info()

In [ ]:
# Graficando los vinos >300 por precio y pais
sns.displot(x="variety" , y="price", data=df3, height = 4, aspect = 5)
plt.grid(axis='x')
plt.xticks(rotation=90)
plt.show()

<p> La variedad Bordeaux-Style Red Blend es con la que se elaboran los vinos más caros, seguido de Pinnot Neir y Chardonnay. </p>

In [ ]:
# Graficando los vinos >300 por puntaje y Variedad 
sns.displot(x="variety" , y="points", data=df3, height = 4, aspect = 5)
plt.grid(axis='x')
plt.xticks(rotation=90)
plt.show()

<p> Hay variedades con puntaje de 100, que no necesariamente son los vinos más caros: Muscat, Merlot, Nebbiolo, Bordeaux Style White Blend, Port, Portugueses Red y Sangloveses. </p>

In [ ]:
# Graficando los vinos >300 por precio y pais
sns.displot(x="country" , y="price", data=df3, height = 5, aspect = 4)
plt.grid(axis='x')
plt.xticks(rotation=90)
plt.show()

<p> Los vinos más caros se elaboran mayoritariamente en Francia.  </p>

In [ ]:
# Graficando los vinos >300 por precio y winery
sns.displot(x="winery" , y="price", data=df3, height = 4, aspect = 5)
plt.grid(axis='x')
plt.xticks(rotation=90)
plt.show()

<p> Winery que vende el vino más caro es Chateu les Onmes Sorbet, seguida por otras dos bodegas francesas </p>

In [ ]:
# Analizando solo los vinos de Francia
is_France = df3.loc[:, 'country'] == 'France'
df_France = df3.loc[is_France]
df_France.head()

In [ ]:
df_France.info()

In [ ]:
# Graficando los vinos franceses>300 por precio y region
sns.displot(x="winery" , y="price", data=df_France, height = 4, aspect = 5)
plt.grid(axis='x')
plt.xticks(rotation=90)
plt.show()

# Ingeniería de Características

+ ### Lectura de los datos con Pandas.

In [ ]:
#DataFrame

df = pd.read_csv("wine_reviews_dataset.csv")
df.head()

Se observa: 
+ Datos vacíos que han sido llenados por defecto con "NaN".

+ ### ¿Qué podemos hacer con los datos "NaN"?

In [ ]:
#Filtrar eliminando filas con datos incompletos (NaN).

df_filtrado = df.dropna()
df_filtrado.head()

Se observa:
+ No es recomendable porque perdemos datos.

In [ ]:
# Reemplazar los "NaN" con valor 0.

df_filtrado = df.fillna(0)
df_filtrado.head()

Se observa:
+ No se eliminan las filas, solo se reemplaza "NaN" con valor 0, conservando así el resto de datos.
+ Según la info del DataFrame, la variable "price (precio)" hace falta 8996 datos, por lo que reemplazarlo por 0 podría generar sesgo. 
+ También faltan datos de las variables "country", "region_1", "region_2" y "variety" que son variables categóricas por lo que reemplazar los datos faltantes con "0" dificultaría.

In [ ]:
# Posibilidad 1: Filtrar columnas.

df_filtrado[["country", "description", "designation", "points", "province", "region_1", "region_2", "taster_name", "taster_twitter_handle", "title", "variety", "winery"]]

Se observa:
+ Se opta por eliminar las columnas:

In [ ]:
# Posibilidad 2: Filtrado por condiciones.

df_filtrado[df_filtrado["price"] > 0]

Se observa:
+ La condición del filtrado es que considere todos los valores mayores que "0".
+ Las filas donde el valor de "price" es "0" se eliminan, perdiendo datos de las demás variables que se encuentran en la fila.
+ Se pierden menos datos que eliminando todas las filas donde aparezca "NaN o 0" ya que solo se eliminan las filas donde price sea valor "0".

In [ ]:
# Posibilidad 3: Imputación de datos faltantes. Filtrar por subgrupos.

df(df.dropna(subset=[""], inplace=true]

In [ ]:
# Los datos que faltan en la variable categórica "region_2" se reemplaza por "DESCONOCIDO". 
print(df["region_2"].fillna("DESCONOCIDO"))

In [ ]:
valores_por_defecto = {"region_2" : "DESCONOCIDO",
                      "region_1" : "DESCONOCIDO",
                      "variety" : "DESCONOCIDO",
                      "country" : "DESCONOCIDO",
                      "price" : 35.363389}
print(df.fillna(value=valores_por_defecto))

In [ ]:
promedio = df["price"].mean()
mediana = df["price"].median()
moda = df["price"].mode()[0]
print(promedio, mediana, moda)

Se observa:
+ Promedio_precio = 35.363389129985535.
+ Mediana_precio = 25.0
+ Moda_precio = 20.0

In [ ]:
print(df["price"].fillna(promedio))

In [ ]:
print(df["price"].fillna(mediana))

In [ ]:
print(df["price"].fillna(moda))

In [ ]:
# Datos duplicados

df.duplicated()

In [ ]:
df_filas_duplicadas = df[df.duplicated()]
print(df_filas_duplicadas)

In [ ]:
df.info()

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicated()

In [ ]:
df.isnull().mean().sort_values(ascending = False)

In [21]:
is_Spain = df.loc[:, 'country'] == 'Spain'
df_Spain = df.loc[is_Spain]
df_Spain.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
18,Spain,"Desiccated blackberry, leather, charred wood a...",Vendimia Seleccionada Finca Valdelayegua Singl...,87,28.0,Northern Spain,Ribera del Duero,NaN,Michael Schachner,@wineschach,Pradorey 2010 Vendimia Seleccionada Finca Vald...,Tempranillo Blend,Pradorey
81,Spain,"Bland, mature aromas of white fruits are on th...",NaN,86,16.0,Galicia,Rías Baixas,NaN,Michael Schachner,@wineschach,Spyro 2014 Albariño (Rías Baixas),Albariño,Spyro
154,Spain,"Ripe aromas of raisin, black plum and horsehid...",Single Vineyard Estate Bottled,91,50.0,Central Spain,Dominio de Valdepusa,NaN,Michael Schachner,@wineschach,Marques de Griñon 2010 Single Vineyard Estate ...,Graciano,Marques de Griñon
212,Spain,Mellow white-fruit aromas are nonspecific and ...,Fermentado en Barrica,90,40.0,Northern Spain,Rueda,NaN,Michael Schachner,@wineschach,Matarromera 2015 Fermentado en Barrica Verdejo...,Verdejo,Matarromera